.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
  font-family: "Space Mono", sans-serif;
}

body {
  width: 375px;
  height: 933px;
  background: hsl(185, 41%, 84%);
  margin: auto;
}

header {
  color: hsl(186, 14%, 43%);
  text-align: center;
  letter-spacing: 8px;
  
}



.headers {
  color: hsl(183, 100%, 15%);
  font-size: 14px;
}

h2 {
  margin: 40px 0 12px 0;
}

#appform {
  border-radius: 20px 20px 0 0;
}


input[type="number"], textarea {

  background-color : hsl(202, 50%, 97%);
  width: 320px;
  border-radius: 5px;
  border: none;
  height: 40px;
  text-indent: 12px;
  text-align: right;
  font-size: 24px;
  font-family: "Space Mono";
  font-weight: bold;
  color: hsl(183, 100%, 15%);
}

input[type="text"]::placeholder {
  font-size: 20px;
  
}

#appform {
  background: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper{
  position: relative;
}

.placeholder {
  position: absolute;
  font-size: 22px;
  color: hsl(184, 14%, 56%);
  pointer-events: none;
  left: 10px;
  top: 4px;
  transition: 0.1s ease all;
}

#tip-selectors {
	width: 320px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

#tip-selectors input, button {
  width: 153px;
  height: 50px;
  border: none;
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
}

.innerbutton {
  margin-left: 26px;
  color: hsl(186, 14%, 43%);
  
}

.button {
  background: hsl(202, 50%, 97%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#result-div-container {
  background-color: hsl(183, 100%, 15%);
  width: 320px;
  margin-top: 32px;
  border-radius: 14px;
}

#result-div {
  width: 280px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.result-indicator {
  color: hsl(189, 41%, 97%);
  font-weight: bold;
}

.per-person {
  color: hsl(184, 14%, 56%);
  font-weight: bold;
  font-size: 14px;
  margin-top: -16px;
}

.results {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  align-items: center;
}

.amount {
  color: hsl(172, 67%, 45%);
  font-size: 30px;
  font-weight: bold;
}

#reset-button {
  width: 100%;
  height: 50px;
  background-color: hsl(172, 67%, 45%);
  border: none;
  border-radius: 8px;
  color: hsl(183, 100%, 15%);
  font-weight: bold;
  font-size: 22px;
}

#tip-amount-div {
  margin-top: -20px;
  margin-bottom: -30px;
}

.mainheader {
  font-size: 24px; 
}