.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
input { outline: none; }

* {
  font-family: "Space Mono", sans-serif;
}

body {
  width: 375px;
  height: 933px;
  background: hsl(185, 41%, 84%);
  margin: auto;
  box-sizing: border-box;
}

header {
  color: hsl(186, 14%, 43%);
  text-align: center;
  letter-spacing: 8px;
  
}

.headers {
  color: hsl(184, 14%, 56%);
  font-size: 14px;
}

h2 {
  margin: 40px 0 12px 0;
}
/* INPUT STYLES */

#appform {
  border-radius: 20px 20px 0 0;
}

#appform {
  background: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="number"] {

  background-color : hsl(202, 50%, 97%);
  width: 294px;
  border-radius: 5px;
  border: 2px solid transparent;
  height: 40px;
  text-indent: 12px;
  text-align: right;
  font-size: 24px;
  font-family: "Space Mono";
  font-weight: bold;
  color: hsl(183, 100%, 15%);
}

input[type="number"]:hover {

  border-color:hsl(172, 67%, 45%);
  
}

.input-wrapper {
  position: relative;
  border: 3px transparent;
  box-sizing: border-box;
}

.placeholder {
  position: absolute;
  font-size: 22px;
  color: hsl(184, 14%, 56%);
  pointer-events: none;
  left: 10px;
  top: 4px;
  transition: 0.1s ease all;
}

#custom-placeholder {
  position: absolute;
  font-weight: bold;
  font-size: 22px;
  color: hsl(184, 14%, 56%);
  pointer-events: none;
  right: 10px;
  top: 4px;
  transition: 0.1s ease all;
  padding: 2px 4px 0 0;
  
}

#tip-selectors {
	width: 320px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.fixed-tip {
  width: 153px;
  height: 50px;
  border: none;
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
}

.innerbutton {
  margin-left: 26px;
  color: hsl(186, 14%, 43%);
  
}



.button {
  background: hsl(202, 50%, 97%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#result-div-container {
  background-color: hsl(183, 100%, 15%);
  width: 320px;
  margin-top: 32px;
  border-radius: 14px;
}

#result-div {
  width: 280px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.result-indicator {
  color: hsl(189, 41%, 97%);
  font-weight: bold;
}

.per-person {
  color: hsl(184, 14%, 56%);
  font-weight: bold;
  font-size: 14px;
  margin-top: -16px;
}

.results {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  align-items: center;
}

.amount {
  color: hsl(172, 67%, 45%);
  font-size: 30px;
  font-weight: bold;
}

#reset-button {
  width: 100%;
  height: 50px;
  background-color: hsl(172, 67%, 45%);
  border: none;
  border-radius: 8px;
  color: hsl(183, 100%, 15%);
  font-weight: bold;
  font-size: 22px;
}

#tip-amount-div {
  margin-top: -20px;
  margin-bottom: -30px;
}

.mainheader {
  font-size: 24px; 
  color:hsl(183, 100%, 15%);
}

.text-input {
  padding-right: 20px;
}

.text-input:hover {
  cursor: pointer;
}

.text-input:focus-visible {
  padding-right: 20px;
  border-color: hsl(172, 67%, 45%);
}

#custom-input {
  
  width: 153px;
  height: 50px;
  margin: 0;
  padding: 20px;
  border: none;
  border-color: hsl(202, 50%, 97%);
  box-sizing: border-box;
  color: hsl(186, 14%, 43%);
  
}

#custom-input:hover {
  border: 2px solid hsl(172, 67%, 45%);
  cursor: pointer;
}

#custom-input:focus-visible {
  border: 2px solid hsl(172, 67%, 45%);
}

#reset-button:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
  cursor: pointer;
}

.fixed-tip:hover {
  background-color: hsl(172, 67%, 45%);
  
}





.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

@media only screen and (min-width: 920px) {
  body {
    width: 920px;
  }

  #appform {
    flex-direction: row;
    justify-content: space-around;
  }

  #bill-input {
    margin-top: 1%;
    margin-bottom: 1%;

  }

  #result-div-container {
    width: 50%; 
  }

  #result-div {
    width: 80%;
}

  #left {
    width: 50%;
    margin-left: 4%;
    margin-top: -4%;
  }

  .wide {
    width: 86%!important;
  }

  #tip-selectors {
    justify-content: space-between;
    width: 91.7%;
  }
  
  .fixed-tip {
    width: 30%;
  }

  #custom-wrapper {
    width: 30%;
  }

  #custom-input {
    width: 100%;
  }

  #result-div-container {
    height: 420px;
    margin-bottom: 18px;
    margin-top: 24px;
    margin-right: 14px;
  
  }

  #reset-button {
    margin-top: 80px;
  
  }

  #select-tip-div {
    margin-bottom: 1%;
  }

  #custom-placeholder {
    margin-right: 10px;
  }

  #appform {
    border-radius: 20px;
  }

  .amount {
    font-size: 40px;
  }

  #dollar {
    top: 12px;
  }

  #personPH {
    top: 6px;
  }
}